<h1>Item#show</h1>
<p>Find me in app/views/item/show.html.erb</p>
Order Details
<P>
	<strong>Guitar ID:</strong><%= @item.itemCode %>
</P>
<p>
	<strong>Manufacture:</strong><%= @item.make %>
</p>
<p>
	<strong>Model:</strong><%= @item.model %>
</p>
<p>
	<strong>Color:</strong><%= @item.color %>
</p>
<p>
	<strong>Condition:</strong><%= @item.condition %>
</p>
<p>
	<strong>Order No.:</strong><%= @item.orderNo %>
</P>
<p>
	<strong>Rack No.:</strong><%= @item.rackNo %>
</P>
<br>
<%= link_to ('Home'), item_index_path %>