<h1>Request#new</h1>
<p>Find me in app/views/request/new.html.erb</p>
<%= form_for :request, url: {action: "create"} do |f| %>
	<p>
		<%= f.label ("Order No:") %>
		<%= f.text_field :orderNo %>
	</p>
	<p>
		<%= f.label ("Date:") %>
		<%= f.text_field :purchaseDate %>
	</p>
	<p>
		<%= f.label ("Supplier's Name:") %>
		<%= f.text_field :companyName %>
	</p>
	<p>
		<%= f.label ("Quantity:") %>
		<%= f.text_field :quantity %>
	</p>
	<p>
		<%= f.label ("Total Cost:") %>
		<%= f.text_field :cost %>
	</p>
	<p>
		<%= f.label ("Delivery Date:") %>
		<%= f.text_field :deliveryDate %>
	</p>
	<br>
		<%= f.submit ("Order") %>
<% end %>