<h1>Request#show</h1>
<p>Find me in app/views/request/show.html.erb</p>
Order Details
<P>
	<strong>Order No.:</strong><%= @request.orderNo %>
</P>
<p>
	<strong>Date:</strong><%= @request.purchaseDate %>
</p>
<p>
	<strong>Supplier's Name:</strong><%= @request.companyName %>
</p>
<p>
	<strong>Quantity:</strong><%= @request.quantity %>
</p>
<p>
	<strong>Total Cost:</strong><%= @request.cost %>
</p>
<p>
	<strong>Delivery Date:</strong><%= @request.deliveryDate %>
</P>
<br>
<%= link_to ('Home'), request_index_path %>